In [15]:
import pandas as pd

# Load the CSV file into a DataFrame
sales_data = pd.read_csv('salesdata.csv')

# Display the original DataFrame
print("Original DataFrame:")
print(sales_data)
print()

Original DataFrame:
     Region  Manager   SalesMan          Item  Units  Unit_price  Sale_amt
0      East   Martha  Alexander    Television     95      1198.0  113810.0
1   Central  Hermann     Shelli  Home Theater     50       500.0   25000.0
2   Central  Hermann       Luis    Television     36      1198.0   43128.0
3   Central  Timothy      David    Cell Phone     27       225.0    6075.0
4      West  Timothy    Stephen    Television     56      1198.0   67088.0
5      East   Martha  Alexander  Home Theater     60       500.0   30000.0
6   Central   Martha     Steven    Television     75      1198.0   89850.0
7   Central  Hermann       Luis    Television     90      1198.0  107820.0
8      West  Douglas    Michael    Television     32      1198.0   38336.0
9      East   Martha  Alexander  Home Theater     60       500.0   30000.0
10  Central  Hermann      Sigal    Television     90      1198.0  107820.0
11     East   Martha      Diana  Home Theater     29       500.0   14500.0
12     East  Douglas      Karen  Home Theater     81       500.0   40500.0
13     East   Martha  Alexander    Television     35      1198.0   41930.0
14  Central  Douglas       John          Desk      2       125.0     250.0
15     East   Martha  Alexander   Video Games     16        58.5     936.0
16  Central  Hermann      Sigal  Home Theater     28       500.0   14000.0
17     East   Martha  Alexander    Cell Phone     64       225.0   14400.0
18     East  Douglas      Karen    Cell Phone     15       225.0    3375.0
19  Central  Hermann     Shelli   Video Games     96        58.5    5616.0
20  Central  Douglas       John    Television     67      1198.0   80266.0
21     East  Douglas      Karen   Video Games     74        58.5    4329.0
22  Central  Timothy      David  Home Theater     46       500.0   23000.0
23  Central  Douglas       John  Home Theater     87       500.0   43500.0
24     East   Martha  Alexander  Home Theater      4       500.0    2000.0
25     West  Timothy    Stephen  Home Theater      7       500.0    3500.0
26  Central  Hermann       Luis   Video Games     50        58.5    2925.0
27  Central   Martha     Steven    Television     66      1198.0   79068.0
28     East   Martha      Diana    Cell Phone     96       225.0   21600.0
29  Central  Timothy      David    Television     53      1198.0   63494.0
30  Central  Timothy      David  Home Theater     80       500.0   40000.0
31  Central  Hermann     Shelli          Desk      5       125.0     625.0
32     East   Martha  Alexander   Video Games     62        58.5    3627.0
33  Central  Hermann      Sigal   Video Games     55        58.5    3217.5
34  Central  Hermann     Shelli   Video Games     42        58.5    2457.0
35     West  Timothy    Stephen          Desk      3       125.0     375.0
36  Central  Timothy      David    Television      7      1198.0    8386.0
37     West  Timothy    Stephen    Cell Phone     76       225.0   17100.0
38     West  Douglas    Michael  Home Theater     57       500.0   28500.0
39  Central   Martha     Steven    Television     14      1198.0   16772.0
40  Central  Hermann       Luis  Home Theater     11       500.0    5500.0
41  Central  Hermann       Luis  Home Theater     94       500.0   47000.0
42  Central    Marth     Steven  Home Theater     28       500.0   14000.0

In [18]:
# Create a Pivot table to find total sale amount region-wise
region_pivot = pd.pivot_table(sales_data, values='Sale_amt', index='Region', aggfunc='sum')
print("Total Sale Amount Region-wise:")
print(region_pivot)
print()

Total Sale Amount Region-wise:
         Sale_amt
Region
Central  829769.5
East     321007.0
West     154899.0

In [20]:
# Create a Pivot table to find total sale amount manager-wise
manager_pivot = pd.pivot_table(sales_data, values='Sale_amt', index='Manager', aggfunc='sum')
print("Total Sale Amount Manager-wise:")
print(manager_pivot)
print()

Total Sale Amount Manager-wise:
         Sale_amt
Manager
Douglas  239056.0
Hermann  365108.5
Marth     14000.0
Martha   458493.0
Timothy  229018.0

In [23]:
# Create a Pivot table to find total sale amount salesman-wise
salesman_pivot = pd.pivot_table(sales_data, values='Sale_amt', index='SalesMan', aggfunc='sum')
print("Total Sale Amount Salesman-wise:")
print(salesman_pivot)

Total Sale Amount Salesman-wise:
           Sale_amt
SalesMan
Alexander  236703.0
David      140955.0
Diana       36100.0
John       124016.0
Karen       48204.0
Luis       206373.0
Michael     66836.0
Shelli      33698.0
Sigal      125037.5
Stephen     88063.0
Steven     199690.0