In [5]:
import pandas as pd
import numpy as np
def show_Dataframe_First3():

    # Input data
    exam_data = {
        'name': ["Anastasia", "Dina", "Katherine", "James", "Emily",
                 "Michael", "Matthew", "Laura", "Kevin", "Jonas"],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
    }

    # Create DataFrame with input data (exam_data)
    exam_dataframe = pd.DataFrame(exam_data)

    # Get the first 3 rows from exam_dataframe
    first3_rows = exam_dataframe.head(3)

    # Show the first 3 rows result
    print("First 3 rows of the DataFrame:")
    print(first3_rows)

show_Dataframe_First3()

First 3 rows of the DataFrame:
        name  score qualify  attempts
0  Anastasia   12.5     yes         1
1       Dina    9.0      no         3
2  Katherine   16.5     yes         2